<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
</head>
<body>
    <header><b>PuzzleShop</b></header>
    <h1>Online Shop Puzzle</h1>
    <img src="../static/puzzle.jpg" height="450" width="600"> 
    <p>
        <p><b>Sale!Sale!Sale!</b> 50% discount.</p>
        <p> Puzzle game sharpens the ability to find solutions to problems.</p>
        
        <!--new element-->
        <ruby>
           <rp>(</rp><rt>Puzzle game sharpens the ability to find solutions to problems</rt><rp>)</rp>   
        </ruby>
       <p><b>Click here</b> To order :<a href="Connection.html" target="_blank" > Content</a></p> 
    </p>

</body>
</html>